.createHeader {
  text-align: right;
  padding-bottom: 10px;

  border-bottom: 1px solid #e0e0e0;

  .close {
    font-size: 24px;
    cursor: pointer;
  }
}

.form {
  padding-top: 10px;

  .input {
    padding-top: 20px;

    .ant-btn-primary {
      width: 98px;
    	height: 32px;
    	border-radius: 2px;
      background-color: #5c6bc0;
    	border: solid 1px #5c6bc0;
    }

    // button {
    //
    //
    // }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // padding: 10px 18px;
  font-size: 16px;
  // text-align: left;

  > div {
    .img {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      background-color: #d2d2d2;
      border-radius: 17px;
    }

    .name {
      width: 200px;
      margin-left: 13px;
      font-size: 16px;
    	font-weight: 600;
    	color: #1b2432;
      border: none;
      background-color: rgb(244, 245, 246);

      &:hover {
        border: 1px solid #d9d9d9;
      }
    }
  }
}

.options {
  display: inline-flex;
  // width: 240px;
  align-items: center;
  height: 34px;

  font-size: 14px;
  text-align: right;

  > span {
    margin-right: 25px;

    // width: 28px;
  	height: 20px;
  	font-family: PingFangSC;
  	font-size: 14px;
  	font-weight: 500;
  	color: #6a819a;

    >i {
      font-size: 14px;
      font-weight: 600;
    }

    > span {
      margin-left: 6px;
      cursor: pointer;
    }
  }

  .icon {
    text-align: center;
    vertical-align: middle;
    font-size: 24px;

    cursor: pointer;
  }
}
