@import './../../../style/iconfont.less';

.icon-customer1 {
  color: #fff;
}

.customer-tabs {

  .ant-tabs-bar {
    border-collapse: collapse;
    border-bottom: 3px solid #e0e0e0;

    .ant-tabs-nav-container {
      margin-bottom: -3px;
    }
  }

  .ant-tabs-nav {
    .ant-tabs-ink-bar {
      height: 3px;
      background-color: #ffa102;
    }

    .ant-tabs-tab {
      padding: 10px 0;
      color: #999999;
    }

    .ant-tabs-tab-active {
      color: #ffa102;
      font-family: Helvetica;
    	font-size: 14px;
    	font-weight: bold;
    	color: #1b2432;
    }
  }
}
