.family {
  text-align: left;
}

.fillInfo {
  display: block;
}

.newFamily {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 146px;

  > div {
    text-align: center;
  }
}

.addNew {
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 150px;
  }

  p {
    span {
      font-size: 12px;
    }
  }
}
