// @import "../style/base";

.droplist{
	// width: 100%;
	// position: relative;

	.filter{
		padding: 20px 18px ;
		font-size: 14px;
		line-height: 24px;
		cursor: pointer;
		transition: color .4s;

		> span{
			margin: 0  20px;
			color: #eaeaea;
		}

		a {
			color: #ffa102;
			padding: 28px 0;

			&:hover {
				color: #333;
				transition: color .4s ;
			};

			&:hover .hide{
				padding: 10px 12px;
				height: 310px;
				transition: height 0.2s ease-in-out;
				border: solid 1px #d4d4d5;
			};

			.hide {
				height: 0;
				transition: height 0.2s ease-in-out;
				line-height: 28px;

				position: absolute;
				margin-top: 20px;
				// margin-left: 40px;

				width: 430px;
				overflow: scroll;

				z-index: 999;
				border-radius: 3px;
				background-color: #ffffff;
				box-shadow: 0 1px 3px 0 #dfdfe1;

				h4{
					font-size: 12px;
					color: #333;
					line-height: 26px;
					margin-left: 10px;

					+ h4 {
						border-top: 1px solid red;
					}

					> span{
						display: inline-block;
						width: 3px;
						height: 3px;
						background: #eaeaea;
						margin: 0 5px 2px 0;
					}
				}

				.tag{
					font-size: 12px;
					margin: 0px 5px 8px 8px;
					color: #999;
					border-radius: 2px;

					&:hover{
						background: #7986cb;
						color: #fff;
					}
				}

				:global(.ant-tag-checkable-checked){
					color: #fff;
					background: #7986cb;
				}

				.firstcoustomer {
					margin-top: 20px;
					margin-left: 10px;
				}
			}
		}

		:global(.ant-input-affix-wrapper) {
			margin-left: 14px;

			.search {
				border-radius: 100px;
				border-color: #eaeaea;

				&:focus {
					outline:none;
					border-color: #ddd;
				}
			}
		}

		.icon {
			margin-left: 4px;
			transform: scale(0.5);
		}

		b {
			font-size: 16px;
			color: #333;
		}
	}

	.select {
			display: flex;
			// width: 1220px;
			overflow: hidden;
			padding:0 18px;
			border-top: 1px #eaeaea solid;

			> span {
				display: inline-block;
				height: 42px;
				line-height: 42px;
			}

			.selecttag{
				margin: 10px 5px;
				font-size: 12px;
				border-radius: 2px;
				background: #7986cb;
				border: 1px #7986cb solid;
				color: #fff;
			}
	}
}
