@import "../../../../../commonStyle/common.less";
@import "../../../../../style/iconfont.less";
.staffDetail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: auto;

  .staffDetail-title {
    height: 45px;
    margin-bottom: 20px;

    > div {
      line-height: 45px;
      height: 45px;
    }

    .close {
      display: block;
      font-size: 30px;
      cursor: pointer;
      line-height: 45px;
      height: 45px;
    }

    .close:hover {
      color: #f00;
    }
  }

  .staff-form {

    > div {
      padding: 20px 0;

      >div{

      }
    }

    > div:not(:last-child) {
      border-bottom: 1px dotted #E1E1E1;
    }
  }

  .avatar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 100px;
    text-align: center;
  }

  .submit-controller {
    text-align: center;
  }

  .form-group {
    display: flex;
    >div{
      &:first-child{
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:last-child{
        flex: 1;
      }
    }
    h1{

    }
    h1 + div{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      > div{
        width: 50%;
      }
    }
  }

  .iconfont{
    margin-right: 11px;

    + strong{
      font-size: 16px;
    }
  }

  .ant-card-body{
    padding: 16px;
  }

  label span{
    color: #999999;
  }

  form input[type="radio"], form input[type="checkbox"],.ant-radio-inner{
    width: 18px;
    height: 18px;
  }
  .ant-radio-wrapper:hover .ant-radio .ant-radio-inner, .ant-radio:hover .ant-radio-inner, .ant-radio-focused .ant-radio-inner{
    border-color: @organization-primary-color;
  }

  .ant-radio-inner:after{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: @organization-primary-color;

  }
  .ant-radio-checked .ant-radio-inner{
    border-color: @organization-primary-color;
  }
}

