.ant-table-row {
  cursor: pointer;
}
.ant-table-row .attention > a {
  display: none;
}
.ant-table-row:hover .attention > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -34px;
  margin-left: 75px;
  width: 90px;
  height: 50px;
  background-color: #eee;
}
