.ant-table-row {
    cursor: pointer;
    .attention>a {
        display: none;
    } // hover
    &:hover .attention>a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -34px;
        margin-left: 75px;
        width: 90px;
        height: 50px;
        background-color: #eee;
    }
}

@c-grey: #fafafa;
@c-white: #fff;
.myTable {
    // table {
    //     background-color: @c-white;
    //     tr
    //     td {
    //         border: none;
    //     }
    //     td{
    //       border-right: none;
    //     }
    //     tr:nth-of-type(2n) {
    //         background-color: @c-grey;
    //     }
    // }
}