.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px 10px 20px;
  // text-align: left;
}

.options {
  display: inline-block;
  width: 240px;

  font-size: 12px;
  text-align: right;

  span {
    margin-left: 5px;
  }

  .icon {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
  }
}

.tabs {
  padding: 0 20px;
}

.card {
  // text-align: center;

  .row {
    border: 1px solid #ccc;
    border-collapse: separate;
  }

  .title {
    background-color: #ececec;
  }
}
