.detailInfo {
  margin-bottom: 20px;
  padding: 20px;

  font-size: 12px;

  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #d4d4d5, 0 1px 3px 0 #d4d4d5;
}

.addCrewButton {
  cursor: pointer;
}

.record {
  text-align: center;

  .timeRecord {
    padding: 20px;
    text-align: left;
  }

  .timeline {
    display: flex;
    justify-content: space-between;

    .recordContent {
      width: 400px;

      header {
        display: flex;
        justify-content: space-between;
      }

      .recordDetails {
        padding: 10px;
        background-color: #f5f5f5;

        footer {
          text-align: right;

          span {
            margin: 10px;
          }
        }
      }
    }
  }
}
