.display_flex {
  display: flex;
}
.display_inlineFlex {
  display: inline-flex;
}

.flexDirection_row {
  flex-direction: row;
}
.flexDirection_column{
  flex-direction: column;
}

.alignItems_start {
  align-items: flex-start;
}
.alignItems_center {
  align-items: center;
}
.alignItems_end {
  align-items: flex-end;
}
.alignItems_stretch {
  align-items: stretch;
}

.flexWrap_wrap {
  flex-wrap: wrap;
}
.flexWrap_nowrap {
  flex-wrap: nowrap;
}

.justifyContent_start {
  justify-content: flex-start;
}
.justifyContent_center {
  justify-content: center;
}
.justifyContent_end {
  justify-content: flex-end;
}
.justifyContent_spaceBetween {
  justify-content: space-between;
}
.justifyContent_spaceAround {
  justify-content: space-around;
}

.alignContent_spaceBetween{
  align-content: space-between;
}
