.organization {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 16px;

  > div {
    padding: 0;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 #dfdfe1;
    border: solid 1px #d4d4d5;
  }

  .ant-tree-title {
    color: #595959;

    span {
      i {
        color: #A0A9D6;
        margin-right: 3px;
      }
    }
  }

  .ant-layout-sider {
    padding: 0 15px;
    background: #FAFAFA;
    border-right: 1px solid #d4d4d5;

    .ant-tree {
      li {
        font-size: 14px;
      }
    }
  }

  .sider-title {
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d4d4d5;

    .ant-row:before, .ant-row:after {
      content: '';
    }

    h3 {
      font-size: 16px;
    }

    button {
      color: #9FABBA;
      background: #fafafa;
      border: 0;
      font-size: 14px;
      padding: 0;
    }
  }

  .content-title {
    height: 63px;
    border-bottom: 1px solid #d4d4d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

  }

  .ant-table-thead {

    th {
      //display: block;
      background: #F4F5FA;
      border-bottom: 1px solid #d4d4d5;
    }

    th:not(:last-child) {
      border-right: 1px solid #d4d4d5;
    }
  }

  .ant-table-pagination {
    width: 100%;
    background: #F4F4F4;
    margin: 0;
    padding: 6px 10px 6px 0;
    float: none;
    display: flex;
    justify-content: flex-end;
  }

  .ant-card-head {
    background: #FAFAFA;
  }

  .ant-input:focus, .ant-input:hover {
    border-color: #7A87C6;
  }

  .ant-input:focus {
    border-color: #7A87C6;
    outline: 0;
    box-shadow: 0 0 0 2px RGBA(72, 82, 158, .2);
  }

  .ant-select-selection:hover {
    border-color: #7A87C6;
  }

  .ant-select-open .ant-select-selection {
    border-color: #7A87C6;
    outline: 0;
    box-shadow: 0 0 0 2px RGBA(72, 82, 158, .2);
  }

  .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color: #7A87C6;
    outline: 0;
    box-shadow: 0 0 0 2px RGBA(72, 82, 158, .2);
  }

  .ant-select-dropdown-menu-item:hover, .ant-select-dropdown-menu-item-active {
    background-color: RGBA(72, 82, 158, .2);
  }

  .dock-title {
    font-size: 18px;
    font-weight: 600;

    span{
      font-size: 22px;
      cursor: pointer;
      &:hover{
        color: #f00;
      }
    }
  }

  .dock-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: #F4F4F6;
  }

  .ant-input-lg,.ant-select-lg .ant-select-selection__rendered,.ant-select-lg .ant-select-selection--single{
    height: 25px;
  }

  .ant-select-lg .ant-select-selection--multiple{
    min-height: 25px;
    padding-bottom: 0;
  }

  .ant-form-item-control{
    line-height: 25px;
  }
}

