@organization-primary-color: #7A87C6;

.user-edit{
  width: 100%;
  height: 100%;
  //overflow: auto;


  .user-edit-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 16px;

    >span{
      display: flex;

      button{
        line-height: 26px;
        margin-left: 15px;
      }

      button.close{
        border: 0;
        background: #F4F4F6;
        font-size: 22px;
        font-weight: 600;

        &:hover,&:focus,&:active{
          color: #f00;
        }
      }
    }
  }

  .ant-card{
    margin-bottom: 16px;
  }

  .ant-select{
    width: 100%;
  }

  .ant-timeline-item-head-blue{
    border-color: @organization-primary-color;
    color: @organization-primary-color;
  }
  .ant-card-bordered{
    border-radius: 4px;
    background: #fff !important;
    border: 1px solid #d9d9d9 !important;
    .ant-form-item-label{
      text-align: left;
    }
    label{
      font-size: 14px;
      color: #999;
      text-align: left;
    }
    input{
      font-size: 14px;
      color: #000;
    }
    .ant-input-lg, .ant-select-lg .ant-select-selection__rendered, .ant-select-lg .ant-select-selection--single{
      font-size: 14px;
      color: #000;
    }
  }

}
.system-content .dock-container{
  overflow: auto;
  /*.ant-timeline-item-content{
    font-size: 14px;
  }*/
}