@import url('http://at.alicdn.com/t/font_y5fxbr3igc1h5mi.css');
@font-face {
  font-family: 'iconfont';
  /* project id 278144 */
  src: url('//at.alicdn.com/t/font_y5fxbr3igc1h5mi.eot');
  src: url('//at.alicdn.com/t/font_y5fxbr3igc1h5mi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_y5fxbr3igc1h5mi.woff') format('woff'), url('//at.alicdn.com/t/font_y5fxbr3igc1h5mi.ttf') format('truetype'), url('//at.alicdn.com/t/font_y5fxbr3igc1h5mi.svg#iconfont') format('svg');
}
