@import './../../../style/colors.less';
@c-menu-list: c-pink,
c-orange,
c-green,
c-blue,
c-blue-grey;
.loop(@counter) when (@counter >0) {
    .loop((@counter - 1));
    @color: extract(@c-menu-list,
    @counter);
    .@{color} {
        color: @@color;
    }
}

.a-base(@color) {
    &:link {
        color: @color;
        background-color: transparent;
    }
    &:visited {
        color: @color;
        background-color: transparent;
    }
    &:hover {
        color: @color;
        background-color: transparent;
    }
    &:active {
        background-color: transparent;
        color: @color;
    }
}

.addMenu,.userMenu,.moreMenu{
    .ant-dropdown-menu-item {
        .loop(length(@c-menu-list));
        .iconfont {
            display: inline-block;
            width: 1.5em;
            text-align: center;
            margin-right: 0.5em;
        }
        &:hover {
            .iconfont {
                transition: color 0.1s linear;
                color: @c-white;
            }
            background-color: @blue-dark;
            &>a {
                color: @c-white;
            }
        }
    }
}
.userMenu{
    margin-left: 1em;
}
.msgMenu {
    @c-very-light-pink: #fff4ea;
    @c-grey: #999999;
    @c-pink-dark: #f5eae2;
    @c-blue: #3783fb;
    border: 1px solid @c-pink-dark;
    color: @c-grey;
    background-color: @c-very-light-pink;
    .ant-dropdown-menu-item-active {
        background-color: @c-very-light-pink;
    }
    .ant-dropdown-menu-item {
        cursor: default;
        .msg-num {
            color: darken(@c-very-light-pink, 40%);
            font-weight: 700;
            font-size: 1.3em;
            padding-right: 0.3em;
            &+a {
                text-indent: 1em;
                display: inline-block;
                .a-base(@c-blue)
            }
        }
    }
    .ant-dropdown-menu-item-selected {
        background-color: @c-very-light-pink;
        color: @c-grey;
    }
}

.header {
    padding: 0;
    padding-right: 20px;
    display: flex;
    background: @c-purple;
    .header-wrap {
        width: 100%;
        display: flex;
    }
    .logo {
        font-size: 14px;
        height: 100%;
        display: flex;
        align-items: center;
        width: 200px;
        color: @c-white;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        >img {
            width: 30px;
            height: 30px;
            margin: 0 5px 0 8px;
        }
        &:after {
            content: "|";
            color: #7983CF;
            font-size: 12px;
            align-self: flex-end;
        }
        .version {
            height: 20px;
            margin-left: 3px;
            padding: 0 4px;
            line-height: 20px;
            font-size: 12px;
            background: #FEA429;
            color: #fff;
            border-radius: 3px;
            transform: scale(0.8);
        }
    }
    .menu {
        .iconfont,
        .anticon {
            padding: 0.8em;
            font-size: 0.5em;
        }
    }
    .right-menu {
        color: @c-white;
        position: relative;
        flex-grow: 1;
        justify-content: flex-end;
        display: flex;
        .msgDropdown {
            .icon-msg {
                font-size: 0.8em;
                z-index: 1;
                &:before {
                    color: @c-white;
                    position: absolute;
                    font-size: 2.2em;
                    z-index: 1;
                }
                span {
                    font-size: .8em;
                    line-height: 1em;
                    position: relative;
                    z-index: 3;
                    top: -1.1em;
                    left: .7em;
                    display: inline-block;
                    padding: .3em;
                    border-radius: 1em;
                    background-color: @c-orange;
                }
            }
        }
        >.ant-dropdown-link {
            color: #fff;
            padding: 0 1.9em;
            transition: background-color @hover-time linear;
            .msgDropdown {
                padding: 0;
            }
            >.anticon-plus-circle-o {
                font-size: 1.5em;
            }
            &:hover {
                background-color: @blue-dark;
            }
        }
        >.user-menu {
            color: @c-white;
            font-size: 1.3em;
            padding-left: 1em;
            transition: background-color @hover-time linear;
            &:hover{
                background-color: @blue-dark;
            }
            >.anticon-down {
                margin: 1em;
            }
        }
    }








    .ant-menu-horizontal {
        background: @c-purple;
        border-bottom: none;
        color: @c-white;
        line-height: 64px;
        overflow: hidden;
        >.ant-menu-item {
            border-bottom: none;
            >a {
                font-size: 16px;
                color: @c-white;
            }
        }
        .ant-menu-item-selected {
            background: #505BB1;
        }
    }
}
