@import url('http://at.alicdn.com/t/font_k7ctvmua9yhkt9.css');
@font-face {
  font-family: 'iconfont';
  /* project id 278144 */
  src: url('//at.alicdn.com/t/font_k7ctvmua9yhkt9.eot');
  src: url('//at.alicdn.com/t/font_k7ctvmua9yhkt9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_k7ctvmua9yhkt9.woff') format('woff'), url('//at.alicdn.com/t/font_k7ctvmua9yhkt9.ttf') format('truetype'), url('//at.alicdn.com/t/font_k7ctvmua9yhkt9.svg#iconfont') format('svg');
}
.addMenu .ant-dropdown-menu-item .c-pink,
.userMenu .ant-dropdown-menu-item .c-pink,
.moreMenu .ant-dropdown-menu-item .c-pink {
  color: #fe6168;
}
.addMenu .ant-dropdown-menu-item .c-orange,
.userMenu .ant-dropdown-menu-item .c-orange,
.moreMenu .ant-dropdown-menu-item .c-orange {
  color: #ffa102;
}
.addMenu .ant-dropdown-menu-item .c-green,
.userMenu .ant-dropdown-menu-item .c-green,
.moreMenu .ant-dropdown-menu-item .c-green {
  color: #41bf89;
}
.addMenu .ant-dropdown-menu-item .c-blue,
.userMenu .ant-dropdown-menu-item .c-blue,
.moreMenu .ant-dropdown-menu-item .c-blue {
  color: #3783fb;
}
.addMenu .ant-dropdown-menu-item .c-blue-grey,
.userMenu .ant-dropdown-menu-item .c-blue-grey,
.moreMenu .ant-dropdown-menu-item .c-blue-grey {
  color: #5f768f;
}
.addMenu .ant-dropdown-menu-item .iconfont,
.userMenu .ant-dropdown-menu-item .iconfont,
.moreMenu .ant-dropdown-menu-item .iconfont {
  display: inline-block;
  width: 1.5em;
  text-align: center;
  margin-right: 0.5em;
}
.addMenu .ant-dropdown-menu-item:hover,
.userMenu .ant-dropdown-menu-item:hover,
.moreMenu .ant-dropdown-menu-item:hover {
  background-color: #3f51b5;
}
.addMenu .ant-dropdown-menu-item:hover .iconfont,
.userMenu .ant-dropdown-menu-item:hover .iconfont,
.moreMenu .ant-dropdown-menu-item:hover .iconfont {
  transition: color 0.1s linear;
  color: #fff;
}
.addMenu .ant-dropdown-menu-item:hover > a,
.userMenu .ant-dropdown-menu-item:hover > a,
.moreMenu .ant-dropdown-menu-item:hover > a {
  color: #fff;
}
.userMenu {
  margin-left: 1em;
}
.msgMenu {
  border: 1px solid #f5eae2;
  color: #999999;
  background-color: #fff4ea;
}
.msgMenu .ant-dropdown-menu-item-active {
  background-color: #fff4ea;
}
.msgMenu .ant-dropdown-menu-item {
  cursor: default;
}
.msgMenu .ant-dropdown-menu-item .msg-num {
  color: #ff891e;
  font-weight: 700;
  font-size: 1.3em;
  padding-right: 0.3em;
}
.msgMenu .ant-dropdown-menu-item .msg-num + a {
  text-indent: 1em;
  display: inline-block;
}
.msgMenu .ant-dropdown-menu-item .msg-num + a:link {
  color: #3783fb;
  background-color: transparent;
}
.msgMenu .ant-dropdown-menu-item .msg-num + a:visited {
  color: #3783fb;
  background-color: transparent;
}
.msgMenu .ant-dropdown-menu-item .msg-num + a:hover {
  color: #3783fb;
  background-color: transparent;
}
.msgMenu .ant-dropdown-menu-item .msg-num + a:active {
  background-color: transparent;
  color: #3783fb;
}
.msgMenu .ant-dropdown-menu-item-selected {
  background-color: #fff4ea;
  color: #999999;
}
.header {
  padding: 0;
  display: flex;
  background: #5a66c6;
}
.header .header-wrap {
  width: 100%;
  display: flex;
}
.header .logo {
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  width: 200px;
  color: #fff;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.header .logo > img {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 8px;
}
.header .logo:after {
  content: "|";
  color: #7983CF;
  font-size: 12px;
  align-self: flex-end;
}
.header .logo .version {
  height: 20px;
  margin-left: 3px;
  padding: 0 4px;
  line-height: 20px;
  font-size: 12px;
  background: #FEA429;
  color: #fff;
  border-radius: 3px;
  transform: scale(0.8);
}
.header .menu .iconfont,
.header .menu .anticon {
  padding: 0.8em;
  font-size: 0.5em;
}
.header .right-menu {
  color: #fff;
  position: relative;
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
}
.header .right-menu .msgDropdown .icon-msg {
  font-size: 0.8em;
  z-index: 1;
}
.header .right-menu .msgDropdown .icon-msg:before {
  color: #fff;
  position: absolute;
  font-size: 2.2em;
  z-index: 1;
}
.header .right-menu .msgDropdown .icon-msg span {
  font-size: .8em;
  line-height: 1em;
  position: relative;
  z-index: 3;
  top: -1.1em;
  left: .7em;
  display: inline-block;
  padding: .3em;
  border-radius: 1em;
  background-color: #ffa102;
}
.header .right-menu > .ant-dropdown-link {
  color: #fff;
  padding: 0 1.9em;
  transition: background-color 0.5s linear;
}
.header .right-menu > .ant-dropdown-link .msgDropdown {
  padding: 0;
}
.header .right-menu > .ant-dropdown-link > .anticon-plus-circle-o {
  font-size: 1.5em;
}
.header .right-menu > .ant-dropdown-link:hover {
  background-color: #3f51b5;
}
.header .right-menu > .user-menu {
  color: #fff;
  font-size: 1.3em;
  padding-left: 1em;
  transition: background-color 0.5s linear;
}
.header .right-menu > .user-menu:hover {
  background-color: #3f51b5;
}
.header .right-menu > .user-menu > .anticon-down {
  margin: 1em;
}
.header .ant-menu-horizontal {
  background: #5a66c6;
  border-bottom: none;
  color: #fff;
  line-height: 64px;
  overflow: hidden;
}
.header .ant-menu-horizontal > .ant-menu-item {
  border-bottom: none;
}
.header .ant-menu-horizontal > .ant-menu-item > a {
  font-size: 16px;
  color: #fff;
}
.header .ant-menu-horizontal .ant-menu-item-selected {
  background: #505BB1;
}
