.new-role{
  .new-role-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 16px;

    >span{
      display: flex;

      button{
        line-height: 26px;
        margin-left: 15px;
      }

      button.close{
        border: 0;
        background: #F4F4F6;
        font-size: 22px;
        font-weight: 600;

        &:hover,&:focus,&:active{
          color: #f00;
        }
      }
    }
  }

  .edit-rolename{
    display: flex;
    justify-content: space-between;

    .ant-form-item{
      margin-bottom: 0;
    }

    > div{
      flex: auto;
    }
  }
}
