.departmentDetail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: auto;

  .departmentDetail-title {
    height: 45px;
    margin-bottom: 20px;

    > div {
      line-height: 45px;
      height: 45px;
    }

    .close {
      display: block;
      font-size: 30px;
      cursor: pointer;
      line-height: 45px;
      height: 45px;
    }

    .close:hover {
      color: #f00;
    }
  }

  .branches-form {
    > div:first-child {
      border-bottom: 1px solid #F4F4F6;
      > div {
        display: flex;
        justify-content: center;
      }
    }

    > div:last-child{
      text-align: center;
      padding-top: 20px;

      button{
        margin: 0 10px;
      }
    }
  }
}


.branchesformbox{
  .dock-title{
    margin:10px 0;
  }
  label{
    font-size: 14px;
    color: #999;
  }
  input{
    font-size: 14px;
    color: #000;
  }
  .ant-select-selection-selected-value{
    font-size: 14px;
  }
  .save{
      background: #5c6bc0;
      color: #fff;
      transition: all 0.3s;
      border:1px solid #5c6bc0;
      &:hover{
        background-color:#4b5bb8;
        transition: all 0.3s;
        border:1px #4b5bb8 solid;
      };
  }
}
